doctype html
html
  head
    title Resume Screener - A CodeDay Labs Project
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Raleway&display=swap')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content